<!-- <ul>
    <li *ngFor="let item of postData">
        {{item.thumbnail}}
        <br/><br/>
        {{item.titel}} ->>
        {{item.description}}
    </li>
</ul> -->

<!-- <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of postData">{{item.thumbnail}}</div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of postData">{{item.titel}}</div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
  </div> -->
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <form #propertyuplod="ngForm" enctype="multipart/form-data" (ngSubmit)="onSubmit(propertyuplod.value)">
          <div class="row">
          <div class="col-md-2" style="text-align:left; margin:5px;">Titel
          <input type="text" name="titel" placeholder="Search..." ngModel></div>
          <div class="col-md-2" style="text-align:left; margin:5px;">Property Type
          <input type="text" name="type" placeholder="Search..." ngModel></div>
          <div class="col-md-2" style="text-align:left; margin:5px;">Cap Rate
          <input type="text" name="cap_rate" placeholder="Search..." ngModel></div>
          <div class="col-md-2" style="text-align:left; margin:5px;">Min. Price
          <input type="text" name="min_price" placeholder="Search..." ngModel></div>
          <div class="col-md-2" style="text-align:left; margin:5px;">Max. Price
          <input type="text" name="max_price" placeholder="Search..." ngModel></div>
          <div class="col-md-2" style="text-align:left; margin:5px;"><button type="submit">Submit </button></div>            
      </div>			

      </form>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4" *ngFor="let item of postData">
            <div class="card mb-4 box-shadow">
            <img src="http://localhost/nnnproperty/storage/app/{{item.thumbnail}}" height="250px" class="card-top-img" alt="" srcset="">
              <div class="card-body">
                <h5 class="card-heading">{{item.titel}}</h5>
                <p class="card-text">{{item.description}}</p>
                <div class="">
                    <h5 class="">${{item.price}}</h5>
                    <h6 class="">{{item.cap_rate}}%</h6>
                    <h6 class="">${{item.noi}}</h6>
                   </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>